$menuFontSize: 13px;
$menuFontFamily: 'Ubuntu';

$l0Color: white;
$l0BackgroundColor: #555;
$l0HoverBackgroundColor: #666;

$l1Color: white;
$l1BackgroundColor: #666;
$l1HoverBackgroundColor: #777;
$l1HotKeyColor: #bbb;
$l1InactiveColor: #bbb;

$l2Color: white;
$l2BackgroundColor: #777;
$l2HoverBackgroundColor: #888;
$l2HotKeyColor: #ccc;
$l2InactiveColor: #ccc;

$rightArrowColor: #bbb;

$separatorHeight: 10px;
